@font-face {
  font-family: "futura-regular";
  src: url(../fonts/futura-bt-regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "futura-bold";
  src: url(../fonts/futura-bold-bt.woff);
  font-weight: 700;
}
@font-face {
  font-family: "futura-medium";
  src: url(../fonts/futurabt-medium-webfont.woff);
  font-weight: 500;
}

body {
  margin: 0;
  font-family: futura-regular;
}
#main {
  min-height: 100vh;
  width: 100vw;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}
.container {
  width: 900px;
  margin: auto;
  min-height: 100vh;
  background-color: #fff;
  padding: 70px 80px;
  text-align: center;
}
.career-btn {
  background-image: linear-gradient(to right, #87c078, #447c3a);
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  padding: 8px 50px;
  border: 0;
  border-radius: 50px;
  box-shadow: 4px 5px 26px 2px #3734347a;
}
.logo {
  margin-top: 100px;
  margin-bottom: 50px;
}
.address p {
  font-family: futura-medium;
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 10px;
}
.address a {
  color: #000;
  text-decoration: none;
}
.mail a {
  color: #3a9939;
  font-family: futura-bold;
}
.para {
  font-family: futura-regular;
  font-size: 28px;
  line-height: 42px;
  margin-top: 50px;
}
.comming-soon {
  margin-top: 65px;
  width: 72%;
}

@media only screen and (max-width: 1150px) {
  .container {
    width: 690px;
  }
}

@media only screen and (max-width: 880px) {
  .container {
    width: 90%;
    padding: 70px 0px;
  }
  .address p {
    font-size: 24px;
  }
  .wrapper {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 750px) {
  .logo img {
    width: 300px;
  }
  .para {
    font-size: 20px;
    line-height: 35px;
  }
  .address p {
    font-size: 18px;
  }
  .comming-soon {
    margin-top: 40px;
    width: 96%;
  }
  .career-btn {
    font-size: 28px;
  }
}
@media only screen and (max-width: 500px) {
  .mail a {
    font-size: 14px;
  }
  .para {
    font-size: 18px;
    line-height: 32px;
  }
}
